<div>
   <p align="center">
         	{% if page.copyright=='flyever' %}
             <img src="http://www.lzt90.ink/assets/images/weixinpay.jpg" >
            {% elsif page.copyright=='itmind' %}
             <img src="http://www.lzt90.ink/assets/images/alipay.jpg" >
            {% else %}
             <img src="http://www.lzt90.ink/assets/images/weixinpay.jpg" >
            {% endif %}
         <br/>
          扫码测试
   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="http://www..com">个有人</a>）</strong>
   </p>
</div>
